html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.stuffBackground {
  width: 100%;
  min-height: 100%;
  background-image: url('./../assets/bg_withstuff.png');
  background-size: 100% 100%;
}

.starBackground {
  width: 100%;
  min-height: 100%;
  background-image: url('./../assets/star_bg.png');
  background-size: 100% 100%;
}

.greenBackground {
  width: 100%;
  min-height: 100%;
  background-image: url('./../assets/bg.png');
  background-size: 100% 100%;
}
.brownBackground {
  width: 100%;
  min-height: 100%;
  background-image: url('./../assets/brown_bg.png');
  background-size: 100% 100%;
}
