h1, h2, h3, h4, p {
  margin: 0;
  padding: 0; }
button {
  border: none;
  background: none;
}
.beatmachine__inst{
  color: White;
  font-family: "Black";
  text-align: center;
  padding-top: 5%;
  font-size: 2rem;
}
.beatmachine__container {
  background: #f1f1f1;
  width: 70%;
  margin: 5% auto;
  background-color: #eeeeee;
  padding: 2% 0;
  border-radius: 30px;
  margin-top: 1rem;
}
.beatmachine__recordwaves {
  display: none;
}
.beat-button__container {
  display: flex;
  flex-direction: column;
  width: 18%;
}
.controls {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 20%;
  }
.controls__listen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
  }
.controls__record {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem 0;
  }

.listen__image {
   height: 3rem;
 }
.listen__title {
   font-size: 3rem;
   font-family: 'Black';
 }

.beats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.beat-button {
  color: #fff;
  margin: 0 2%;
  border-radius: 5px;
  padding: 2rem 0;
  font-family: 'Black';
}
.beat-button-b {
  background-color: #793b9c;
}
.beat-button-t {
  background-color: #1f68ac;
}
.beat-button-k {
  background-color: #37af72;
}
.beat-button-s {
  background-color: #c2992d;
}
.beat-button__title {
  font-size: 4rem;
}
.beat-button__name {
  font-size: 2rem;
  font-family: 'Black';
  text-align: center;
}


.beat-button--deactivate {
  background-color: #d1d3d2;
}

.button-name-b {
  color: #793b9c;
}
.button-name-t {
  color: #1f68ac;
}
.button-name-k {
  color: #37af72;
}
.button-name-s {
  color: #c2992d;
}
.button-name--deactivate {
  color: #d1d3d2;
}




.record__button {
  opacity: 1;
  cursor: pointer;
}
.record__button--disabled {
  opacity: 0.5;
  cursor: default;

}
.record__image {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 8rem;
}
.record__image-small {
  height: 6rem;
  margin: 0 2rem;
}




.count-container {
  width: 60%;
  margin: 3rem 20%;
  display: flex;
  flex-direction: column;
  font-family: "Black";
}
.count__tally {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  text-align: -webkit-center;
  padding-top: 5%;
}
.count__inst {
  text-align: center;
  font-size: 3rem;
}
.count__number {
  font-family: 'Black';
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 5rem;
  width: 6rem;
  height: 6rem;
  padding: 1rem 0.5rem 0 0.5rem;
}
.count__total {
  font-size: 3rem;
}
.count__total-30 {
    color: #ec2525;
}

.circle {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  height: 10rem;
  width: 10rem;
  background-color: #e1e2e1;
  border-radius: 5rem 5rem;
}
.circle--blue {
  background-color: #79baf3;
}
.circle--orange {
  background-color: #edcd1b;
}
.circle--green {
  background-color: #59df26
}
.circle__half {
  height: 10rem;
  width: 5rem;
  position: relative;
  overflow: hidden;
  display: flex;
}

.circle__half:before {
  height: inherit;
  width: inherit;
  position: absolute;
  content: "";
  border-radius: 10rem 0 0 10rem;
  background-color: #e1e2e1;
  transform-origin: 100% 50%;
  /* hidden by default */
  transform: rotate(180deg);
  animation-name: rotate-circle-half;
  animation-duration: 1.8s;
  animation-timing-function: linear;
}

.circle__half--right {
  transform: scale(-1, -1);
}

.circle .circle__half--right:before {
  animation-name: rotate-circle-half--right;
}

.instruction__play {
  font-family: 'Black';
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.instruction__record {
  font-family: 'Black';
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

/* show half of circle half of the time */
@keyframes rotate-circle-half {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-circle-half--right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
