
@font-face {
  font-family: 'Black';
  src: url('../fonts/KabelLTStd-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}
.component-header{
  color: white;
  font-family: 'Black';
  padding: 40px 0 20px 0;
}
.component-header h1{
  font-size: 50px;
}
.component-header h4{
  font-size: 20px;
}
.startButton{
  font-size: 25px;
  color: white;
  font-family: 'Black';
  margin: 20px auto;
  display: block;
  padding: 15px 30px;
  background-color: green;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}
.centerContent{
  text-align: center;
}
