
body {
  background-color: #334;
}

.board {
  width: 440px;
  margin: 10px auto;
}

.row {
  width: 420px;
}

.quadrant {
  border: 5px solid #111;
  display: inline-block;
  margin: -2px;
  height: 200px;
  width: 200px;
}

.quadrant p{
  text-align: center;
  font-size: 70px;
  font-weight: 800;
}


.green {
  background-color: #0f0;
  border-top-left-radius: 50%;

}
.green.played {
  background-color: #191;
}

.red {
  background-color: #f00;
  border-top-right-radius: 50%;
}
.red.played {
  background-color: #911;
}

.yellow {
  background-color: #ff0;
  border-bottom-left-radius: 50%;
}
.yellow.played {
  background-color: #991;
}

.blue {
  background-color: #00f;
  border-bottom-right-radius: 50%;
}
.blue.played {
  background-color: #119;
}

.controls {
  text-align: center;
  border: 10px solid #111;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 100%;
  padding: 15px;
  width: 210px;
  height: 200px;
  top: 120px;
  left: 70px;
}
.controls p {
  font-size: 24px;
  font-weight: 80;
}

#modal {
  position: absolute;
  top: 167px;
  left: 678px;
  height: 100px;
  width: 200px;
  text-align: center;
  background-color: #ffa;
  border-radius: 5%;
  border: 2px solid #446;
}
#modal.hidden {
  display: none;
}

button {
  border-radius: 5%;
  font-weight: 800;
  background-color: #ffa;
}
button.on {
  background-color: #f33;
}
