
.wiggy-button {
  color: #fff;
  margin: 10px 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-family: 'Black';
}
.wiggy-button-b {
  background-color: #793b9c;
}
.wiggy-button-t {
  background-color: #1f68ac;
}
.wiggy-button-k {
  background-color: #37af72;
}
.wiggy-button-s {
  background-color: #c2992d;
}

.wiggy-button__title {
  font-family: 'Black';
  font-size: 2rem;
}

.wiggy__image{
  width: 40%;
  display: block;
  margin: 0 auto;
}
.wiggy__container{
  text-align: center;
  padding: 5% 0;
}
.wiggy-container{
  position: absolute;
  top: 20%;
  right: 20%;
}
